.testimonials {
	@include content-padding-inline;
	padding-block: 50px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	&__title {
		font-family: 'Poppins', sans-serif;
		font-size: 42px;
		font-weight: 500;
		line-height: 63px;
		text-transform: uppercase;
		color: $main-color;
	}

	&__controller {
		margin-top: 30px;
		display: flex;
		justify-content: center;
	}
}
