$effect-duration: 300ms;

$main-color: #003366;
$main-text-color: #343434;
$secondary-text-color: #6b6b6b;

$white-text-color: #fbfbfb;

$bg-color-light-blue: #e0e7ef;
$bg-color-labels: #eff3f7;
$border-color: #ececec;
$controller-border: #bfccd8;
$controller-indicator: #c2d1e0;
